@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
    <p>Make sure that this the movie is worthy to add to this wonderful collection.</p>
</div>

<img src="~/img/JoelHiltonHeadshot.jpg" height="300" />

<br />

<div>
    <a asp-controller="Home" asp-action="InputMovie">Input New Movie</a>
</div>
